.button {
    height:60px;
    width: 40%;
    font-size: large;
    background-color: white;
    border-radius: 10px;
    transform: translate(70%);

}
.button-red {
    height:60px;
    width: 40%;
    font-size: large;
    background-color: red;
    margin-right: auto;
    border-radius: 10px;
    transform: translate(70%);
}